nav {
  background-color: #004e64;
}

main {
  width: 100%;
  height:auto;
}

main .inicio {
  min-height: 450px;
  background-color: #00a5cf;
  align-content: center;
}

main .inicio-title {
  text-align: center;
  font-family: "Caveat", cursive;
  color: black;
}

main .inicio-title h1 {
  font-size: 5rem;
  font-weight: bold;
}

main .inicio-title h2 {
  font-size: 2.5rem;
}

main .inicio-icon {
  display: inline-block;
}

main .inicio-icon img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

main .about {
  column-gap: 10px;
  background-color: #9fffcb;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  color: black;
  padding-left: 75px;
  padding-bottom:15px;
}

.about span {
  font-size: 2rem;
  -webkit-text-stroke: 0.7px black;
  color: white;
}

.about li {
  font-size: 1.5rem;
}

.about img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-left: 10px;
}

footer {
  padding: 20px 0;
  background-color: #25a18e;
  font-family: "DM Sans", sans-serif;
  
}

footer div h3 {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

footer .datos {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

footer img {
  width: 25px;
  height: 25px;
}

footer .datos a {
  text-decoration: none;
  color: white;
}
